Martin Kask <martin@industrial.ninja> <noreply@anthropic.com>
Martin Kask <martin@industrial.ninja> <claude@anthropic.com>
Martin Kask <martin@industrial.ninja> <158136808+claude-code@users.noreply.github.com>
